<!-- ================= TypeSelector | Element Selector -->
<!-- <button>
  <span>
    {{ label() }}
  </span>
  <span class="icon">
    ⌲
  </span>
</button> -->


<!-- ================= Attribute Selector -->
<!-- <span>
  {{ label() }}
</span>
<span class="icon">
  ⌲
</span> -->



<!-- ================= ng-content -->
<!-- <span>
  <ng-content/>
</span>
<span class="icon">
  <ng-content select=".icon"/>
</span> -->




<!-- ================= ngProjectAs -->
<span>
  <ng-content/>
</span>
<span class="icon">
  <ng-content select="icon"/>
</span>
