
<header>
  <div id="logo">
    <img src="logo.png" alt="Website logo, a server" />
  </div>

  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">Management</a>
      </li>
      <li>
        <!-- ================= Simple -->
        <!-- <button>
          <span>
            Logout
          </span>
          <span class="icon">
            →
          </span>
        </button> -->

        <!-- ================= TypeSelector | Element Selector -->
        <!-- <app-button [label]="'Logout'"></app-button> -->


        <!-- ================= Attribute Selector -->
        <!-- <button appButton label="Logout"></button> -->
        
        <!-- ================= Class Selector -->
         <!-- <button class="appButton" label="Logout"></button> -->

         <!-- ================= ng-content -->
          <button class="appButton">
            Logout
            <span class="icon">→</span>
          </button>
         
      </li>
    </ul>
  </nav>
</header>
