<!-- <div id="status"> -->

<!-- #region 1. 1st Way to Binding Class -->
<!-- note this is called class binding repetation -->
<!-- <div [class.status]="currentStatus == 'offline'"> -->
  <!-- <div [class.status]="currentStatus == 'online'">
  @if (currentStatus === 'online') {
  <p>Servers are online</p>
  <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
  <p>Servers are offline</p>
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Server status is unknown</p>
  <p>Fetching server status failed.</p>
  }
</div> -->
<!-- #endregion -->



<!-- #region 2. 2nd Way to Binding Class -->
<!-- note this is called class binding repetation -->
  <!-- <div [class]="{
    status:true,
    'status-online': currentStatus == 'online',
    'status-offline': currentStatus == 'offline',
    'status-unknown': currentStatus == 'unknown'
  }">
  @if (currentStatus === 'online') {
  <p>Servers are online</p>
  <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
  <p>Servers are offline</p>
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Server status is unknown</p>
  <p>Fetching server status failed.</p>
  }
</div> -->
<!-- #endregion -->


<!-- #region 3. Style Binding -->
  <div [class]="{
    status:true,
    'status-online': currentStatus == 'online',
    'status-offline': currentStatus == 'offline',
    'status-unknown': currentStatus == 'unknown'
  }"
  
  
  [style]="{
    padding: '1rem',
    border: '1px solid black',
    'border-radius': '0.5rem',
    'background-color': currentStatus == 'online' ? 'lightgreen':
    currentStatus == 'offline' ? 'lightcoral' : 'lightblue',
  }"

  [style.backgroundColor]="
      currentStatus == 'online' ? 'lightgreen':
      currentStatus == 'offline' ? 'lightcoral' : 'lightblue'
    "
  >
  @if (currentStatus === 'online') {
  <p>Servers are online</p>
  <p>All systems are operational.</p>
  } @else if (currentStatus === 'offline') {
  <p>Servers are offline</p>
  <p>Functionality should be restored soon.</p>
  } @else {
  <p>Server status is unknown</p>
  <p>Fetching server status failed.</p>
  }
</div>
<!-- #endregion -->


<!-- </div> -->

<!-- <article>
        <header>
          <img src="status.png" alt="A signal symbol" />
          <h2>Server Status</h2>
        </header>
        <div>
          @if (currentStatus === 'online') {
            <p>Servers are online</p>
            <p>All systems are operational.</p>
          } @else if (currentStatus === 'offline') {
            <p>Servers are offline</p>
            <p>Functionality should be restored soon.</p>
          } @else {
            <p>Server status is unknown</p>
            <p>Fetching server status failed.</p>
          }
        </div>
      </article> -->