<!-- <form id="new-ticket" (ngSubmit)="onSubmit(titleInput,textArea)"> -->
<!-- <form id="new-ticket" (ngSubmit)="onSubmit(titleInput.value,textArea.value,form)" #form> -->
<form id="new-ticket" (ngSubmit)="onSubmit(titleInput.value,textArea.value)" #form>
  <app-control [label]="'Title'">
    <!-- Template Variable -->
    <!-- #titleInput -->
    <input class="" name="title" id="title" #titleInput #input/>
  </app-control>
  <app-control [label]="'Request'">
    <textarea class="" name="request" id="request" rows="3" #textArea #input></textarea>
  </app-control>
  <!--
  <p>
    <label>Title</label><br>
    <input class="w-100 form-control text-input" name="title" id="title" />
  </p> 
  <p>
    <label>Request</label><br>
    <textarea class="w-100 form-control" name="request" id="request" rows="3"></textarea>
  </p>
  -->
  <p>
    <!-- ================= Simple -->
    <!--
    <button>
      <span>
        Submit
      </span>
      <span class="icon">
        ⌲
      </span>
    </button>
    -->
    
    <!-- ================= TypeSelector | Element Selector -->
    <!-- <app-button [label]="'Logout'"></app-button> -->


    <!-- ================= Attribute Selector -->
    <!-- <button appButton label="Submit"></button> -->

    <!-- ================= Class Selector -->
     <!-- <button class="appButton" label="Submit"></button> -->

    <!-- ================= ng-content -->
      <!-- <button appButton>
        Submit
        <span class="icon">⌲</span>
      </button> -->


      <!-- ================= ngProjectAs -->
      <!--ButtonComponent vs HTMLButtonelement -->
      <button appButton #btn>
      <!-- <button #btn> -->
        Submit
        <span ngProjectAs="icon">⌲</span>
      </button>





      
  </p>
</form>