<div>
  <ul>
    @for (item of tickets; track $index) {
      <li>
        <app-ticket/> - {{$first}} - {{$last}} - - {{$count}}
      </li>
    }
    @empty {
      <p>No tickets found.</p>
    }
  </ul>
</div>
<!-- <div id="status" class="w-100"> -->
  <div id="new-ticket">
    <p>New ticket created!</p>
    <app-new-ticket (add)="onAddTicket($event)"></app-new-ticket>
  </div>
<!-- </div> -->


<!-- <article>
        <header>
          <img src="list.png" alt="A list of items" />
          <h2>Support Tickets</h2>
        </header>
        <div id="status">

          <p>Todo...</p>
        </div>
      </article> -->